@model CmsShop.Models.ViewModels.PageViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PageViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.HasSiteBar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasSiteBar)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditPage", new {  id = Model.Id }) |
    <a asp-action="Index">Powrót</a>
</div>
